
body{
    background-color:rgb(255, 255, 255);
}
p{
    text-align: center;
}
.section{
    font-size: 20px;
}
.breadcrumb-item{
    font-size: 14px;
}
.section a{
    color: rgb(0, 0, 0);

}
.section a:hover{
    color: rgb(19, 192, 3);
    text-decoration: none;
}
.section img{
    width: 100%;
    border: 3px solid rgb(3, 87, 10);
}

.section .col1,.col2{
    width: 100%;
    cursor: pointer;
    	transition-property: all;
    	transition-duration: 0.5s;
    	transition-timing-function: ease;
}
.section .col1:hover,.col2:hover{
    transform: scale(1.1);
}
span.chop{
    font-style: italic;
    color: rgb(43, 43, 43);
    font-weight: bolder;
}


/*จอipad*/
@media screen and (max-width: 992px) {
    .section h3{
        font-size: 1.5em;
    }
    .section p{
        font-size: 1em;
    }
    .section .row .col2 a .img2{
        margin-top: -10px;
    }
    .section .row2,.row3,.row4{
        margin-top: 30px
    }
}
@media screen and (max-width: 767px) {
    .section h3{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .section p{
        font-size: 0.8em;
    }
    .section .row .col1 a .img1{
        margin-top: -9px;
    }
    .section .row .col2 a .img2{
        margin-top: -20px;
    }
}